.book_toc a.read-chapter {
    color: green !important;
    font-weight: bold;
}


.rating-square {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;
}

.plus-square {
    background-color: #dee2e6;
    color: #333;
    font-size: 24px;
    line-height: 38px;
}

.popup-form {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 999;
    width: 180px;
}

.bg-rating-0 { background-color: #6c757d; color: #fff; }  /* gray */
.bg-rating-1 { background-color: #dc3545; color: #fff; }  /* red */
.bg-rating-2 { background-color: #fd7e14; color: #fff; }  /* orange */
.bg-rating-3 { background-color: #ffc107; color: #212529; }  /* yellow */
.bg-rating-4 { background-color: #90ee90; color: #000; }  /* light green */
.bg-rating-5 { background-color: #28a745; color: #fff; }  /* bright green */


.bg-rating-toc-0 { background-color: #6c757d; color: #6c757d; margin-right: 1px; }  /* gray */
.bg-rating-toc-1 { background-color: #dc3545; color: #dc3545; margin-right: 1px;}  /* red */
.bg-rating-toc-2 { background-color: #fd7e14; color: #fd7e14; margin-right: 1px;}  /* orange */
.bg-rating-toc-3 { background-color: #ffc107; color: #ffc107; margin-right: 1px;}  /* yellow */
.bg-rating-toc-4 { background-color: #90ee90; color: #90ee90; margin-right: 1px;}  /* light green */
.bg-rating-toc-5 { background-color: #28a745; color: #28a745; margin-right: 1px;}  /* bright green */

