<div class="container">
  <p>Class Engagement</p>

  <div class="bar-container" data-isteacher="{{isteacher}}">
    <div class="segment bg-black" style="flex: {{numstudentsnotopened}};" data-bs-toggle="tooltip"
      title="{{numstudentsnotopened}} out of {{numtotalstudent}}" data-students='{{{studentdatanotopened}}}'
      data-title="Students who did not start"></div>

    <div class="segment bg-rating-0" style="flex: {{num0student}};" data-bs-toggle="tooltip"
      title="{{num0student}} out of {{numtotalstudent}}" data-students='{{{studentdata0}}}'
      data-title="Students with rating 0"></div>

    <div class="segment bg-rating-1" style="flex: {{num1student}};" data-bs-toggle="tooltip"
      title="{{num1student}} out of {{numtotalstudent}}" data-students='{{{studentdata1}}}'
      data-title="Students with rating 1"></div>

    <div class="segment bg-rating-2" style="flex: {{num2student}};" data-bs-toggle="tooltip"
      title="{{num2student}} out of {{numtotalstudent}}" data-students='{{{studentdata2}}}'
      data-title="Students with rating 2"></div>

    <div class="segment bg-rating-3" style="flex: {{num3student}};" data-bs-toggle="tooltip"
      title="{{num3student}} out of {{numtotalstudent}}" data-students='{{{studentdata3}}}'
      data-title="Students with rating 3"></div>

    <div class="segment bg-rating-4" style="flex: {{num4student}};" data-bs-toggle="tooltip"
      title="{{num4student}} out of {{numtotalstudent}}" data-students='{{{studentdata4}}}'
      data-title="Students with rating 4"></div>

    <div class="segment bg-rating-5" style="flex: {{num5student}};" data-bs-toggle="tooltip"
      title="{{num5student}} out of {{numtotalstudent}}" data-students='{{{studentdata5}}}'
      data-title="Students with rating 5"></div>
  </div>
</div>