<div class="container">
  <p>Class Engagement</p>

  <div class="bar-container">
    <div class="segment bg-black" style="flex: {{numstudentsnotopened}};" data-bs-toggle="tooltip" title="{{numstudentsnotopened}} out of {{numtotalstudent}}"></div>
    <div class="segment bg-grey" style="flex: {{num0student}};" data-bs-toggle="tooltip" title="{{num0student}} out of {{numtotalstudent}}"></div>
    <div class="segment bg-red" style="flex: {{num1student}};" data-bs-toggle="tooltip" title="{{num1student}} out of {{numtotalstudent}}"></div>
    <div class="segment bg-orange" style="flex: {{num2student}};" data-bs-toggle="tooltip" title="{{num2student}} out of {{numtotalstudent}}"></div>
    <div class="segment bg-yellow" style="flex: {{num3student}};" data-bs-toggle="tooltip" title="{{num3student}} out of {{numtotalstudent}}"></div>
    <div class="segment bg-lightgreen" style="flex: {{num4student}};" data-bs-toggle="tooltip" title="{{num4student}} out of {{numtotalstudent}}"></div>
    <div class="segment bg-green" style="flex: {{num5student}};" data-bs-toggle="tooltip" title="{{num5student}} out of {{numtotalstudent}}"></div>
  </div>
</div>