<div class="container">
    <h4 class="mb-3">Learning Tracker</h4>

    <!-- Next Review Date -->
    <div class="mb-3">
        <label for="nextReview" class="form-label">Suggested Next Review Date</label>
        <input type="date" class="form-control" id="nextReview" value="{{nextreview}}">
    </div>
</div>

